{% extends "partials/base.html" %} {% load static %} {% block content %}

<div class="pagetitle">
  <h1>Perfil</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Users</li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-3">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            src="https://ddragon.leagueoflegends.com/cdn/14.3.1/img/profileicon/{{icon}}.png"
            alt="Profile"
            class="rounded-circle"
          />
          <h2>{{user.invocador.nome_invocador}} #{{user.invocador.tag}}</h2>
          <h3>Level {{user.invocador.level}}</h3>
          <!-- <h6>{{user.first_name}}</h6> -->
        </div>
      </div>

      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column"
          style="padding-top: 15px !important"
        >
          <div class="row">
            <div
              class="card-header"
              style="padding-top: 0px; padding-bottom: 10px"
            >
              Ranqueada Solo
            </div>
            <div class="col-lg-5">
              <img
                src="{% static 'art/tiers/' %}{{ tiers.soloqueue_tier }}.png"
              />
            </div>
            <div class="col-lg-7">
              <h2>{{tiers.soloqueue_tier}} {{tiers.soloqueue_rank}}</h2>
              <h3>{{tiers.soloqueue_leaguePoints}} LP</h3>
              <h6>{{tiers.soloqueue_wins}}W / {{tiers.soloqueue_losses}}L</h6>
              <h6>Winrate {{tiers.solo_winrate}}</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column"
          style="padding-top: 15px !important"
        >
          <div class="row">
            <div
              class="card-header"
              style="padding-top: 0px; padding-bottom: 10px"
            >
              Ranqueada Flex
            </div>
            <div class="col-lg-5">
              <img
                src="{% static 'art/tiers/' %}{{ tiers.flexqueue_tier }}.png"
              />
            </div>
            <div class="col-lg-7">
              <h2>{{tiers.flexqueue_tier}} {{tiers.flexqueue_rank}}</h2>
              <h3>{{tiers.flexqueue_leaguePoints}} LP</h3>
              <h6>{{tiers.flexqueue_wins}}W / {{tiers.flexqueue_losses}}L</h6>
              <h6>Winrate {{tiers.flex_winrate}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-7">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Overview
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
              >
                Edit Profile
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
              >
                Settings
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-change-password"
              >
                Change Password
              </button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div
              class="tab-pane fade show active profile-overview"
              id="profile-overview"
            >
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button
                      class="accordion-button collapsed match-content"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      <div class="match-tab-result">
                        {{match.type_queue}}
                        <div style="position: relative" class="">há {{match.str_match_timeago}} dias</div>
                        <hr style="margin: 0.15rem 0; max-width: 43px" />
                        <div class="result">{{match.str_gameResult}}</div>
                        <div class="length">{{match.str_gameDuration}}</div>
                      </div>

                      <div class="champion-match-data">
                        <div class="champion-match-info">
                          <div style="position: absolute">
                            <img
                              src="https://ddragon.leagueoflegends.com/cdn/14.3.1/img/champion/{{match.mainSummoner.championName}}.png"
                              width="48"
                              height="48"
                              alt="Fizz"
                              class="rounded-circle"
                            />
                            <span class="champion-level">{{match.mainSummoner.champLevel}}</span>
                          </div>
                          <div class="summoner-loadout">
                            <div class="loadout-group">
                              <div style="position: relative" class="spell">
                                <img
                                  src="https://ddragon.leagueoflegends.com/cdn/14.3.1/img/spell/{{match.spellD_icon}}.png"
                                  width="22"
                                  height="22"
                                />
                              </div>
                              <div style="position: relative" class="spell">
                                <img
                                  src="https://ddragon.leagueoflegends.com/cdn/14.3.1/img/spell/{{match.spellF_icon}}.png"
                                  width="22"
                                  height="22"
                                />
                              </div>
                            </div>
                            <div class="loadout-group">
                              <div style="position: relative" class="rune">
                                <img
                                  src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/perk/{{match.mainRuneKeystone}}.png?image=q_auto,f_webp,w_64,h_64&amp;v=1708507553015"
                                  width="22"
                                  height="22"
                                />
                              </div>
                              <div style="position: relative" class="rune">
                                <img
                                  src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/perkStyle/{{match.mainRuneSubStyle}}.png?image=q_auto,f_webp,w_64,h_64&amp;v=1708507553015"
                                  width="18"
                                  height="18"
                                />
                              </div>
                            </div>
                          </div>

                          <div class="kda-stats">
                            <div class="kda">
                              <span>{{match.mainKDA.kills}}</span> /
                              <span class="text-danger">{{match.mainKDA.deaths}}</span> /
                              <span>{{match.mainKDA.assists}}</span>
                            </div>
                            <div class="kda-ratio">{{match.kda_ratio}} KDA</div>
                          </div>
                        </div>
                        <div class="champion-build">
                          <dd>
                            <div style="position: relative" class="match-item">
                              <img
                                src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/item/1056.png?image=q_auto,f_webp,w_64,h_64&amp;v=1708507553015"
                                width="22"
                                height="22"
                                alt="Anel de Doran"
                              />
                            </div>
                          </dd>
                          <dd>
                            <div style="position: relative" class="match-item">
                              <img
                                src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/item/3100.png?image=q_auto,f_webp,w_64,h_64&amp;v=1708507553015"
                              />
                            </div>
                          </dd>
                          <dd>
                            <div style="position: relative" class="match-item">
                              <img
                                src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/item/4646.png?image=q_auto,f_webp,w_64,h_64&amp;v=1708507553015"
                              />
                            </div>
                          </dd>
                          <dd>
                            <div style="position: relative" class="match-item">
                              <img
                                src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/item/3020.png?image=q_auto,f_webp,w_64,h_64&amp;v=1708507553015"
                              />
                            </div>
                          </dd>
                          <dd>
                            <div style="position: relative" class="match-item">
                              <img
                                src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/item/3102.png?image=q_auto,f_webp,w_64,h_64&amp;v=1708507553015"
                              />
                            </div>
                          </dd>
                          <dd class="empty-item"></dd>
                          <dd class="trinket">
                            <div style="position: relative" class="match-item">
                              <img
                                src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/item/3340.png?image=q_auto,f_webp,w_64,h_64&amp;v=1708507553015"
                                class="rounded-circle"
                              />
                            </div>
                          </dd>
                        </div>

                        <div class="quick-game-stats">
                          <div class="p-kill text-danger">
                            <div style="position: relative" class="">
                              P/Kill 46%
                            </div>
                          </div>
                          <div class="ward">Control Ward 0</div>
                          <div class="cs">
                            <div style="position: relative" class="">
                              CS 85 (5.6)
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="match-participants">
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="match-participant-data">
                          <div style="position: relative" class="icon">
                            <img src="https://opgg-static.akamaized.net/meta/images/lol/14.4.1/champion/Smolder.png?image=c_crop,h_103,w_103,x_9,y_9/q_auto,f_webp,w_160,h_160&amp;v=1708507553015" width="16" height="16" alt="Smolder" />
                          </div>
                          <div class="name">
                            <div style="position: relative" class="summoner-tooltip">
                              <div class="">
                                <span style="font-size: 12px;line-height: 16px;">valter</span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </button>
                  </h2>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong>
                      It is hidden by default, until the collapse plugin adds
                      the appropriate classes that we use to style each element.
                      These classes control the overall appearance, as well as
                      the showing and hiding via CSS transitions. You can modify
                      any of this with custom CSS or overriding our default
                      variables. It's also worth noting that just about any HTML
                      can go within the <code>.accordion-body</code>, though the
                      transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <!-- End Default Accordion Example -->

              <!-- <h5 class="card-title">About</h5>
              <p class="small fst-italic">
                Sunt est soluta temporibus accusantium neque nam maiores cumque
                temporibus. Tempora libero non est unde veniam est qui dolor. Ut
                sunt iure rerum quae quisquam autem eveniet perspiciatis odit.
                Fuga sequi sed ea saepe at unde.
              </p>

              <h5 class="card-title">Profile Details</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Full Name</div>
                <div class="col-lg-9 col-md-8">Kevin Anderson</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Company</div>
                <div class="col-lg-9 col-md-8">
                  Lueilwitz, Wisoky and Leuschke
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Job</div>
                <div class="col-lg-9 col-md-8">Web Designer</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Country</div>
                <div class="col-lg-9 col-md-8">USA</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Address</div>
                <div class="col-lg-9 col-md-8">
                  A108 Adam Street, New York, NY 535022
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone</div>
                <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">k.anderson@example.com</div>
              </div> -->
            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
              <!-- Profile Edit Form -->
              <form>
                <div class="row mb-3">
                  <label
                    for="profileImage"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Profile Image</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <img
                      src="{% static 'assets/img/profile-img.jpg' %}"
                      alt="Profile"
                    />
                    <div class="pt-2">
                      <a
                        href="#"
                        class="btn btn-primary btn-sm"
                        title="Upload new profile image"
                        ><i class="bi bi-upload"></i
                      ></a>
                      <a
                        href="#"
                        class="btn btn-danger btn-sm"
                        title="Remove my profile image"
                        ><i class="bi bi-trash"></i
                      ></a>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >Full Name</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="fullName"
                      type="text"
                      class="form-control"
                      id="fullName"
                      value="Kevin Anderson"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="about" class="col-md-4 col-lg-3 col-form-label"
                    >About</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <textarea
                      name="about"
                      class="form-control"
                      id="about"
                      style="height: 100px"
                    >
Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea
                    >
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="company" class="col-md-4 col-lg-3 col-form-label"
                    >Company</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="company"
                      type="text"
                      class="form-control"
                      id="company"
                      value="Lueilwitz, Wisoky and Leuschke"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Job" class="col-md-4 col-lg-3 col-form-label"
                    >Job</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="job"
                      type="text"
                      class="form-control"
                      id="Job"
                      value="Web Designer"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Country" class="col-md-4 col-lg-3 col-form-label"
                    >Country</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="country"
                      type="text"
                      class="form-control"
                      id="Country"
                      value="USA"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label"
                    >Address</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="address"
                      type="text"
                      class="form-control"
                      id="Address"
                      value="A108 Adam Street, New York, NY 535022"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label"
                    >Phone</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="phone"
                      type="text"
                      class="form-control"
                      id="Phone"
                      value="(436) 486-3538 x29071"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label"
                    >Email</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="email"
                      type="email"
                      class="form-control"
                      id="Email"
                      value="k.anderson@example.com"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Twitter" class="col-md-4 col-lg-3 col-form-label"
                    >Twitter Profile</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="twitter"
                      type="text"
                      class="form-control"
                      id="Twitter"
                      value="https://twitter.com/#"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Facebook" class="col-md-4 col-lg-3 col-form-label"
                    >Facebook Profile</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="facebook"
                      type="text"
                      class="form-control"
                      id="Facebook"
                      value="https://facebook.com/#"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="Instagram"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Instagram Profile</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="instagram"
                      type="text"
                      class="form-control"
                      id="Instagram"
                      value="https://instagram.com/#"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label"
                    >Linkedin Profile</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="linkedin"
                      type="text"
                      class="form-control"
                      id="Linkedin"
                      value="https://linkedin.com/#"
                    />
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Save Changes
                  </button>
                </div>
              </form>
              <!-- End Profile Edit Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-settings">
              <!-- Settings Form -->
              <form>
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >Email Notifications</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="changesMade"
                        checked
                      />
                      <label class="form-check-label" for="changesMade">
                        Changes made to your account
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="newProducts"
                        checked
                      />
                      <label class="form-check-label" for="newProducts">
                        Information on new products and services
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="proOffers"
                      />
                      <label class="form-check-label" for="proOffers">
                        Marketing and promo offers
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="securityNotify"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="securityNotify">
                        Security alerts
                      </label>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Save Changes
                  </button>
                </div>
              </form>
              <!-- End settings Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>
                <div class="row mb-3">
                  <label
                    for="currentPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Current Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="password"
                      type="password"
                      class="form-control"
                      id="currentPassword"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="newPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="newpassword"
                      type="password"
                      class="form-control"
                      id="newPassword"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="renewPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Re-enter New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="renewpassword"
                      type="password"
                      class="form-control"
                      id="renewPassword"
                    />
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Change Password
                  </button>
                </div>
              </form>
              <!-- End Change Password Form -->
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>

    <div class="col-xl-3"></div>
  </div>
</section>
{% endblock %}
