{% extends "partials/base.html" %} 
{% load static %}
{% block title %}{{user.invocador.nome_invocador}} - Home {% endblock %}
{% block content %}

<style>
  @media (max-width: 1200px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
</style>

<div class="pagetitle">
  {% if not visit %}
    <h1>Home</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  {% else %}
  <h1>{{request_user.nome_invocador}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Group</li>
        <li class="breadcrumb-item active">{{request_user.nome_invocador}}</li>
      </ol>
    </nav>
  {% endif %}
</div>
<!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-3" style="min-width: 333px">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            src="https://ddragon.leagueoflegends.com/cdn/{{current_patch}}/img/profileicon/{{request_user.profile_icon}}.png"
            alt="Profile"
            class="rounded-circle"
          />
          <h2>{{request_user.nome_invocador}} #{{request_user.tag}}</h2>
          <h3>Level {{request_user.level}}</h3>
            {% if not visit or user.is_superuser %}
              <button type="button" class="btn btn-info" id="refreshButton" onclick="noficationMessage(25,'Update in progress!');refresh_summoner({{request_user.id}})"
              {% if key_valid %}  
                {% if not user.is_superuser %}
                  {% if block_refresh %}
                    disabled
                  {% endif %}
                {% endif %}
              {% else %}
                disabled
              {% endif %}
                >
                Refresh
              </button>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="user-ranked-div">
          <div class="card">
            <div
              class="card-body profile-card pt-4 d-flex flex-column"
              style="padding-top: 15px !important"
            >
              <div class="row">
                <div
                  class="card-header"
                  style="padding-top: 0px; padding-bottom: 10px"
                >
                  Ranqueada Solo
                </div>
                <div class="col-lg-5">
                  <img
                    src="{% static 'art/tiers/' %}{{ tiers.soloqueue_tier }}.png"
                  />
                </div>
                <div class="col-lg-7">
                  <h2>{{tiers.soloqueue_tier}} {{tiers.soloqueue_rank}}</h2>
                  <h3>{{tiers.soloqueue_leaguePoints}} LP</h3>
                  <h6>
                    <span class="text-success">{{tiers.soloqueue_wins}}W</span> / 
                    <span class="text-danger">{{tiers.soloqueue_losses}}L</span>
                  </h6>
                  <h6>Winrate {{tiers.solo_winrate}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="user-ranked-div">
          <div class="card">
            <div
              class="card-body profile-card pt-4 d-flex flex-column"
              style="padding-top: 15px !important"
            >
              <div class="row">
                <div
                  class="card-header"
                  style="padding-top: 0px; padding-bottom: 10px"
                >
                  Ranqueada Flex
                </div>
                <div class="col-lg-5">
                  <img
                    src="{% static 'art/tiers/' %}{{ tiers.flexqueue_tier }}.png"
                  />
                </div>
                <div class="col-lg-7">
                  <h2>{{tiers.flexqueue_tier}} {{tiers.flexqueue_rank}}</h2>
                  <h3>{{tiers.flexqueue_leaguePoints}} LP</h3>
                  <h6>
                    <span class="text-success">{{tiers.flexqueue_wins}}W</span> / 
                    <span class="text-danger">{{tiers.flexqueue_losses}}L</span>
                  </h6>
                  <h6>Winrate {{tiers.flex_winrate}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
      

    <div class="col-xl-7 container-main">
      <div class="card fixed-ratio" style="min-width: 860px;max-width: 900px;">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#matches-overview"
              >
                Matches
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#group_list"
              >
                Group
              </button>
            </li>
<!-- 
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-settings"
              >
                Settings
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-change-password"
              >
                Change Password
              </button>
            </li> -->
          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade show active matches-overview" id="matches-overview">
              <div class="row">
                <div class="col-6">
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label" style="font-size: 14px;">Match Type</label>
                    <div class="col-sm-9">
                      <select class="form-select" aria-label="Match filter" id="matchFilter" onchange="filterMatches()">
                        <option value="0">All Matches</option>
                        <option value="420">Solo Queue</option>
                        <option value="440">Flex Queue</option>
                    </select>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  {% include 'pagination-component.html' %}
                </div>
              </div>
              
              {% if matches %}
              <span style="display: inline-block; margin-bottom: 10px; color: #b0b0b0; font-style: italic;">{{matches_qty}} matches found.</span>
                {% include 'profile-matches-section.html' %}
              {% else %}
                <br>
                <i>The summoner has no related matches.</i>
              {% endif %}
            </div>


            <div class="tab-pane fade group_list pt-3" id="group_list">

              {% include 'group-cards-list.html' %}

            </div>

            <div class="tab-pane fade pt-3" id="profile-settings">
              <!-- Settings Form -->
              <form>
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
                    >Email Notifications</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="changesMade"
                        checked
                      />
                      <label class="form-check-label" for="changesMade">
                        Changes made to your account
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="newProducts"
                        checked
                      />
                      <label class="form-check-label" for="newProducts">
                        Information on new products and services
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="proOffers"
                      />
                      <label class="form-check-label" for="proOffers">
                        Marketing and promo offers
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="securityNotify"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="securityNotify">
                        Security alerts
                      </label>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Save Changes
                  </button>
                </div>
              </form>
              <!-- End settings Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>
                <div class="row mb-3">
                  <label
                    for="currentPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Current Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="password"
                      type="password"
                      class="form-control"
                      id="currentPassword"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="newPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="newpassword"
                      type="password"
                      class="form-control"
                      id="newPassword"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="renewPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Re-enter New Password</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="renewpassword"
                      type="password"
                      class="form-control"
                      id="renewPassword"
                    />
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Change Password
                  </button>
                </div>
              </form>
              <!-- End Change Password Form -->
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>

    <div class="col-xl-2"></div>
  </div>
</section>

  <script type="text/javascript">
    document.getElementById("matchFilter").value = "{{ request.GET.queueType|default:'0' }}";

    function refresh_summoner(id) {
        {% if not user.is_superuser %}
          document.getElementById('refreshButton').disabled = true;
        {% endif %}
        $.ajax({
            type: 'GET',
            data: { 'id': id },
            url: "{% url 'profile-refresh' %}",
            success: function (data) {
                console.log(data['response']);
            },
            error: function (xhr, status, error) {
                console.error('Erro na solicitação:', status, error);
            }
        });
    }

    function filterMatches() {
        let queueType = document.getElementById("matchFilter").value;
        setTimeout(function() {
          $('#preloader-active').show();
        }, 200);
        window.location.href = `?queueType=${queueType}`;
    }
  </script>


{% endblock %}
